* {
    padding: 0;
    margin: 0;
}

#header {
    position: relative;
    width: 1100px;
    height: 50px;
    margin: 0 auto;
    background-color: white;
}

#innerplus {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: dodgerblue;
    box-sizing: border-box;
    color: antiquewhite;
    text-align: center;
    line-height: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    z-index: 100;
}

#innerplus:active {
    background-color: white;
    color: dodgerblue;
    border: 1px solid dodgerblue;
    box-sizing: border-box;
}

#changeWeekDiv,
#weekList {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: dodgerblue;
    color: white;
    text-align: center;
    line-height: 50px;
}

#changeWeekDiv {
    z-index: 80;
}

#weekList {
    z-index: 70;
}

#main {
    position: relative;
    width: 1100px;
    height: 1200px;
    margin: 0 auto;
    background-color: white;
}

.courseDiv {
    position: absolute;
    width: 150px;
    border-radius: 5px;
    padding: 8px;
    color: white;
    z-index: 60;
    box-sizing: border-box;
    border: 1px solid white;
    word-wrap: break-word;
    text-align: center;
    font-size: 0.8em;
}

.sectionDiv {
    position: absolute;
    width: 50px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 5px;
    background-color: indianred;
    color: white;
    text-align: center;
    line-height: 100px;
    font-size: 1em;
    left: 0;
}

.weekDiv {
    position: absolute;
    width: 150px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid wheat;
    border-radius: 5px;
    background-color: orange;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 1em;
    top: 0;
}

#canvas {
    position: absolute;
    display: block;
    left: 50px;
    top: 0;
    background-color: ghostwhite;
    z-index: 40;
}

#listBox {
    position: absolute;
    width: 380px;
    height: 225px;
    z-index: 20px;
}

.numRow {
    position: absolute;
    width: 350px;
    height: 50px;
    left: 50px;
}

.weekNum {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: dodgerblue;
    color: white;
    text-align: center;
    line-height: 50px;
    /*     visibility: hidden; */
}

.weekNum:hover {
    cursor: pointer;
    background-color: white;
    color: dodgerblue;
}